*:not(ol,ul,li,dd,th){
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    border: 0;
}
nav.principal{
    width: 100%;
    height: 110px;
    background-color: rgb(27, 24, 24);
    text-align: center;
    padding: 20px;

}
a.menu{
    margin-left: 80px;
    margin-right: 80px;
    display: inline-block;
    text-decoration:double ;
    font-family: 'Oleo Script', cursive;
    color: rgb(241, 215, 68);
    letter-spacing: 2px;
    font-size: 17px;

}
img.logo{
    width: 200px;
    background-color:rgb(27, 24, 24) ;
    position: absolute;
    left: 42.3%;
    top: 40px;
}
img.banner1{
    width: 100%;
    height: 700px;
}
h1{
    position: absolute;
    bottom: 22%;
    left: 28% ;
    font-family: 'Alfa Slab One', cursive;
    font-weight:900;
    text-transform: uppercase;
}
h2{
    text-align: center;
    border: 3px solid rgb(255, 230, 0);
    color: rgb(241, 215, 68);
    background-color: rgb(0, 0, 0);
    font-family: 'Lobster', cursive;
    position: sticky;
    top: 0px;
    
}
h4{
    font-family: 'Righteous', cursive;
}
img.imagenhome{
    width: 400px;
}
img.imagenaside1{
    width: 290px;
    height: 190px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(45, 51, 56);
}
img.imagenaside2{
    width: 300px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(45, 51, 56);

}
div.agenda{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 50px;
}
section{
    margin: 50px;

}
img.imagenhome1{
    width: 300px;
    margin: 50px;
}
img.imagenhome2{
    width: 310px;
    margin: 50px;
}
img.imagenhome3{
    width: 250px;
    margin: 50px;
}
div.aside{
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: rgb(80, 122, 177);
    border: 3px solid rgb(47, 100, 168);
    color: white;

}
section.rules{
    margin: 25px;
    margin-bottom: 100px;
}
aside{
    width: 380px;
    margin: 10px;
}
li.listaside{
    list-style-type: none;
}
div.container{
    display: flex;
    margin: 0;
    padding: 0;
}
footer{
    text-align: center;
    color: rgb(255, 242, 242);
    background-color: rgb(27, 24, 24);
    padding: 40px;
    border-bottom: 50px solid red;
}
a{
    color: beige;
}
div.contacto{
    text-align: center;
    margin: 50px;
}
a.cont1{
    color: rgb(253, 253, 253);
}
a.cont2{
    color: red;
}
ul{
    list-style-position: inside;
}
p.sang{
    text-indent: 30px;
}
li.orden{
    list-style-type: lower-latin;
}
ul{
    padding: 0%;
    margin: 0%;
}
li.one{
    list-style-type: circle;
}
div.cultura{
    margin:50px;
}
img.cultura{
    width: 700px;
    margin-left: 70px;
    box-shadow: 5px 5px 10px rgb(45, 51, 56);

}
div.contacto{
    margin-top: 200px;
    margin-bottom: 100px;
    width: 600px;
}
img.rules{
    width: 600px;
    margin-left: 150px;
    margin-top: 80px;
    box-shadow: 5px 5px 10px rgb(45, 51, 56);
}
td{
    border: 2px solid black;
    text-align: center;
    background-color: rgb(14, 175, 167);
    border:2px solid rgb(24, 83, 107);
}
table{
    width:100%;
    box-shadow: 5px 5px 9px rgb(139, 167, 164);
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    
}
thead{
    background-color:darkcyan ;
    border:2px solid rgb(24, 83, 107);
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td.foot{
    background-color: rgb(104, 209, 209);
}
h3.game{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
div.gameinfo{
    margin-top: 50px;
    padding: 25px;
}
p.contacto2{
    display: inline-block;
    margin-left: 20px;
}
img.gal4{
    width: 290px;
    height: 201px;
}
img.gal5{
    width: 310px;
    height: 200px;
}
img.gal6{
    width: 290px;
    height: 201px;
}
div.galeria{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 40px;
    margin-top: 35px;
}
img.gal1{
    width: 290px;
    height: 201px;
}
img.gal2{
    width: 270px;
    
}
img.gal3{
    width: 290px;
    height: 201px;
}
div.cont{
    text-align: center;
}
caption{
    font-weight:900;
    text-transform: uppercase;
    margin: 10px;
}
p.contacto{
    padding-left: 50px;
    padding-right: 50px;
    border: 3px solid rgb(233, 34, 34);
    background-color: cadetblue;
    text-align: center;
    margin-left: 300px;
    box-shadow: 5px 5px 9px rgb(139, 167, 164);
}
img.footer1{
    width: 100px;
    border: 1px solid red;
}
section{
    margin: 0;
    padding: 0;
}
div.contenidonav{
    display: flex;
    flex-direction: row;
}
div.game{
    margin: 30px;
}
div.cont{
    margin-top: 40px;
}
